# Entornos virtuales
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node / Next.js
node_modules/
.next/
out/
build/
.DS_Store
